body {
  background-color: white;
}
main {
  margin-left: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.test-options {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 10px;
  border: solid #DDD 1px;
  width: 400px;
  bottom: 40px;
}

.dev-title {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.map-area {
  /* width: 600px; */
  display: inline-block;
}

#my-viewer {
  text-align: left;
}

hr {
  margin: 8px 0 5px 0;
}


.test-heading {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 6px;
}

.performance-section {
  margin-top: 5px;
}

.my-row {
  display: flex;
  justify-content: space-between;
}

#results {
  border: solid #DDD 1px;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}

#results:empty:before {
  content:attr(data-placeholder);
  color:gray
}

.more-options {
  margin-top: 10px;
}

.performance-section .btn {
  width: 80px;
}

/* Override Bootstrap */
#iterations-select {
  width: 80px;
  display: inline-block;
}

#draw-range {
  position: absolute;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  top: 60px;
  left: 10px;
  z-index: 1000;
}
#draw-range:hover {
  border-width: 2px;
  transition: 0.5s;
}
