.DS_Store
template/dash
OLD/
node_modules/
docs/formatting_example.*
docs/dist/cgview.esm.*
docs/dist/cgview.js
scripts/copy*
# docs/dist
# docs/api
docs/test/maps/test.json
docs/test/maps/test_wrapping_features.json

