.DS_Store
template/dash
OLD/
node_modules/
docs/formatting_example.*
docs/dist/cgview.esm.*
docs/dist/cgview.js
dist/
scripts/copy*
docs/test/maps/test.json
docs/test/maps/test_wrapping_features.json
docs/test/maps/phastest*

# Temp
src/LabelPlacementTemp.js
src/LabelPlacementOrdered.js

