<?js
var self = this;
?>

<!-- Nav Bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">CGView.js</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <a class="nav-link" href="../tutorials/tutorial-basic.html">Tutorials</a>
        <a class="nav-link" href="../docs.html">Docs</a>
        <a class="nav-link active" aria-current="page" href="index.html">API</a>
        <a class="nav-link" href="../json.html">JSON</a>
      </div>
    </div>
  </div>
</nav>
