<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || title) ?></title>
    <?js if (env.conf.templates.meta) { ?>
    <?js if (env.conf.templates.meta.description) { ?><meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
    <?js if (env.conf.templates.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.templates.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.templates.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
    <?js if (env.conf.templates.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/>
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <script src="scripts/jquery.min.js"></script>

    <!-- <script src="scripts/bootstrap.min.js"></script> -->
    <!-- NOTE:
      I've removed the bootstrap (3.0.3) CSS and JS that came with jaguar
      and updated to version 5.0.1. I have only added the CSS. Not sure if JS
      is required.
      - JRG (20210623)
    -->
    <!-- JRG -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/tables.css" />
    <link rel="stylesheet" href="../styles/general.css" />
    <script src='../scripts/general.js'></script>


    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <!--<link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">-->
    <link type="text/css" rel="stylesheet" href="styles/jaguar.css">



    <?js if (env.conf.templates) { ?>
    <script>
    var config = <?js= JSON.stringify(env.conf.templates) ?>;
    </script>
    <?js } ?>

    <?js if (env.conf.templates.googleAnalytics) { ?>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', config.googleAnalytics]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <?js } ?>
</head>
<body>

<?js= this.partial('cgv_navbar.tmpl', this) ?>
<?js= this.partial('cgv_sidebar.tmpl', this) ?>
<main>
<!-- Add 'jaguar' class to provide API-specific styling - JRG -->
<div id="wrap" class="clearfix jaguar">
    <div id="main">

        <h1 class="page-title" data-filename="<?js= filename ?>"><?js= title ?></h1>
        <?js= content ?>

        <?js if (env.conf.templates.disqus) { ?>
        <!-- disqus code -->
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <!-- // disqus code -->
        <?js } ?>

        <footer>
            Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
        </footer>
    </div>
</div>
</main>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
