/* Some of API CSS is dependent on the jsdoc Output template.
 * Check the bottom of the following CSS files: */
/*   - docs/dash-jsdoc/static/styles/jsdoc-default.css */
/*   - docs/jaguarjs-jsdoc/static/styles/jaguar.css */

/*****************************************************************************/
/* General formatting                                                        */
/*****************************************************************************/

body {
  font-size: 14.5px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2 {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

p {
  line-height: 1.3;
}


/*****************************************************************************/
/* Main Page Stuff                                                           */
/*****************************************************************************/

#main {
  position: fixed;
  top: 50px;
}

#main-column {
  overflow: auto;
  height: calc(100vh - 50px);
  padding: 0px 20px 20px 20px;
  /* padding-left: 30px; */
}


/*****************************************************************************/
/* Sidebar Formatting                                                        */
/*****************************************************************************/

.nav-side {
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 50px);
  flex-wrap: nowrap;
}

#cgv-docs-nav {
  background-color: rgb(26, 26, 26);
  padding-top: 20px;
  width: 175px;
}

.nav-side .nav-link,
.nav-side p {
  font-size: 13px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: rgb(225, 225, 225);
  padding: .2rem 0.5rem;
  margin-left: 15px;
}
.nav-side p {
  color: rgb(175, 175, 175);
  margin-top: 0;
  margin-bottom: 0;
}
.nav-side .nav-link.indent {
  padding-left: 1.5rem;
}
.nav-side .nav-link.active {
  color: orange;
  background-color: rgb(33, 37, 41);
  border-radius: 5px;
}

.cgv-sidebar-toggle {
  border: 1px solid rgba(255,255,255,.1);
}
.cgv-sidebar-toggle svg {
  fill: rgba(255, 255, 255, 0.55);
}
.cgv-sidebar-toggle:not(.collapsed) .bi-collapse {
  display: inline-block;
}
.cgv-sidebar-toggle .bi-collapse {
  display: none;
}
.cgv-sidebar-toggle:not(.collapsed) .bi-expand {
  display: none;
}

@media (max-width: 576px) {
  #cgv-docs-nav {
    max-height: 40vh;
    overflow: auto;
    width: 100%;
  }
  .nav-side {
    height: auto;
    padding-bottom: 15px;
  }
}


/*****************************************************************************/
/* Code formatting (in Markdown)                                             */
/*****************************************************************************/
code[class*="language-"],
pre[class*="language-"] {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 12px;
}
pre[class*="language-"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}


/*****************************************************************************/
/* Jaguar stuff I want site wide                                             */
/*****************************************************************************/

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}


/*****************************************************************************/
/* Note Sure Yet  (Everything below here may need to be incorporated)        */ 
/*****************************************************************************/

/* a.json-link span{ */
/*   color: rgb(100, 100, 250) !important; */
/*   cursor: pointer; */
/* } */

/******************************/
/* Markdown Output formatting */
/******************************/

/* #main-column { */
/*   height: calc(100vh - 40px); */
/*   overflow: auto; */
/*   position: relative; */
/*   padding: 10px; */
/* } */
/*  */
/* #markdown-out ul { */
/*   margin-left: 25px; */
/*   margin-bottom: 10px; */
/*   padding-left: 0; */
/* } */
/* #markdown-out ul > li { */
/*   list-style-type: disc; */
/* } */


/******************************/
/* Specific Table Formatting  */
/******************************/
/* Makes every column but the last a specific width */
/* thead tr th, */
/* tbody tr td { */
/*   width: 150px; */
/*   min-width: 150px; */
/*   max-width: 150px; */
/*   word-break: break-all; */
/* } */
/* thead tr th:last-child, */
/* tbody tr td:last-child { */
/*   width: auto; */
/*   min-width: auto; */
/*   max-width: none; */
/*   word-break: break-all; */
/* } */


.my-test {
}
